<h1><%= @restaurant.name %></h1>

營業時間：
<%= @restaurant.opening_hours %>
<br>
餐廳電話：
<%= @restaurant.tel %>
<br>
餐廳地址：
<%= @restaurant.address %>
<br>
餐廳描述：
<%= @restaurant.description %>

<br>
<%= link_to '回餐廳總覽', admin_restaurants_path %>