<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= @restaurant.name %></h1>
            <p> <%= @restaurant.category.name %></p>
        </div>
        <div class="col-md-4">
            <%= link_to restaurant_path(@restaurant) do %>
                <%= image_tag @restaurant.image, class: "img-fluid center-block" %>
            <% end %>
            <br>
            <div class="restaurant-item">
                <ul class="list-unstyled">
                    <li><strong>營業時間：</strong>
                        <%= @restaurant.opening_hours %>
                    </li>                    
                    <li><strong>聯絡電話：</strong>
                        <%= @restaurant.tel %>
                    </li>
                    <li><strong>餐廳地址：</strong>
                        <%= @restaurant.address %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <!-- simple_format 可以將一些特殊符號轉為html，例如\n換行符號轉為html的<br> -->
            <!-- https://ihower.tw/rails/actionview-helpers.html -->
            <%= simple_format @restaurant.description %>
        </div>
        
        
        <div class="clearfix"></div>
        <%= link_to '回餐廳總覽', restaurants_path %>
        </div>
    </div>
</div>